################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/01. Recursive Array Sum/bin/Debug/netcoreapp2.2
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/01. Recursive Array Sum/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/01. Recursive Array Sum/.vs/01. Recursive Array Sum/v15/Server/sqlite3
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/01. Recursive Array Sum/.vs/01. Recursive Array Sum/v15/.suo
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/05. Generating Combinations/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/05. Generating Combinations/bin/Debug/netcoreapp2.2
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/04. Generating 0 or 1 Vectors/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/04. Generating 0 or 1 Vectors/bin/Debug/netcoreapp2.2
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/03. Recursive Drawing/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/03. Recursive Drawing/bin/Debug/netcoreapp2.2
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/02. Recursive Factorial/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/02. Recursive Factorial/bin/Debug/netcoreapp2.2
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/.vs/config/applicationhost.config
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/.vs/01. Recursion, Sorting and Searching Algorithms - Lab/v15/Server/sqlite3
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/.vs/01. Recursion, Sorting and Searching Algorithms - Lab/v15/.suo
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Web/obj/Debug/netcoreapp2.0/Market.Web.csprojAssemblyReference.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Web/obj/Debug/netcoreapp2.0/Market.Web.assets.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Tests/obj/Debug/netcoreapp2.0/Market.Tests.csprojAssemblyReference.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Tests/obj/Debug/netcoreapp2.0/Market.Tests.assets.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Services/obj/Debug/Market.Services.csprojAssemblyReference.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Data/obj/Debug/netstandard2.0/Market.Data.csprojAssemblyReference.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Data/obj/Debug/netstandard2.0/Market.Data.assets.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Common/obj/Debug/netstandard2.0/Market.Common.csprojAssemblyReference.cache
/05. C#Web/02. ASP.NET Core/Project/Market/Market.Common/obj/Debug/netstandard2.0/Market.Common.assets.cache
/05. C#Web/02. ASP.NET Core/Project/Market/.vs/Market/v15/Server/sqlite3/storage.ide-wal
/05. C#Web/02. ASP.NET Core/Project/Market/.vs/Market/v15/Server/sqlite3/storage.ide-shm
/05. C#Web/02. ASP.NET Core/Project/Market/.vs/Market/DesignTimeBuild/.dtbcache
/02. Technologies Fundamentals/01. Programming Fundamentals
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/06. 8 Queens Puzzle/obj
/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/07. Paths in Labyrinth/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/01. Reverse Array/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/01. Reverse Array/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/02. Nested Loops/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/02. Nested Loops/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/.vs/02. Recursion, Sorting and Searching Algorithms - Exercise/v15/Server/sqlite3
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/.vs/02. Recursion, Sorting and Searching Algorithms - Exercise/v15/.suo
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/03. Combinatio/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/03. Combinatio/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/04. Towers of Hanoi/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/04. Towers of Hanoi/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/06. Connected Area/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/05. Combinations/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/05. Combinations/bin/Debug/netcoreapp2.2
/08. Algorithms/05. Greedy Algorithms - Lab/01. Sum of Coins/bin/Debug/netcoreapp2.2
/08. Algorithms/05. Greedy Algorithms - Lab/01. Sum of Coins/obj/Debug/netcoreapp2.2
/08. Algorithms/05. Greedy Algorithms - Lab/01. Sum of Coins/obj
/08. Algorithms/05. Greedy Algorithms - Lab/.vs/05. Greedy Algorithms - Lab/v15/Server/sqlite3
/08. Algorithms/05. Greedy Algorithms - Lab/.vs/05. Greedy Algorithms - Lab/v15/.suo
/08. Algorithms/03. Sorting and Searching/01. Sorting/obj
/08. Algorithms/03. Sorting and Searching/.vs/03. Sorting and Searching/v15
/08. Algorithms/05. Greedy Algorithms - Lab/02. Set Cover/obj
/08. Algorithms/05. Greedy Algorithms - Lab/02. Set Cover/bin/Debug/netcoreapp2.2
/08. Algorithms/06. Greedy Algorithms - Exercise/.vs/06. Greedy Algorithms - Exercise/v15/Server/sqlite3
/08. Algorithms/06. Greedy Algorithms - Exercise/01. Fractional Knapsack Problem/obj
/08. Algorithms/06. Greedy Algorithms - Exercise/01. Fractional Knapsack Problem/bin/Debug/netcoreapp2.2
/08. Algorithms/06. Greedy Algorithms - Exercise/.vs/06. Greedy Algorithms - Exercise/v15
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/03. Combinations with Repetition/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/03. Combinations with Repetition/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/05. Combinations without Repetition/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/05. Combinations without Repetition/bin/Debug/netcoreapp2.2
/08. Algorithms/06. Greedy Algorithms - Exercise/02. Processor Scheduling/obj
/08. Algorithms/06. Greedy Algorithms - Exercise/02. Processor Scheduling/bin/Debug/netcoreapp2.2
/08. Algorithms/06. Greedy Algorithms - Exercise/03. Knights Tour/obj
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/06. Connected Area/bin/Debug/netcoreapp2.2
/08. Algorithms/03. Sorting and Searching/01. Sorting/bin/Debug/netcoreapp2.2
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/.vs/02. Recursion, Sorting and Searching Algorithms - Exercise/v16
/08. Algorithms/02. Recursion, Sorting and Searching Algorithms - Exercise/.vs/02. Recursion, Sorting and Searching Algorithms - Exercise/DesignTimeBuild
/08. Algorithms/03. Sorting and Searching/.vs/03. Sorting and Searching/v16
/08. Algorithms/03. Sorting and Searching/.vs/03. Sorting and Searching/DesignTimeBuild
/08. Algorithms/03. Sorting and Searching/02. Searching/obj
/08. Algorithms/03. Sorting and Searching/02. Searching/bin/Debug/netcoreapp2.2
/08. Algorithms/03. Sorting and Searching/03. Inversion Count/obj
/08. Algorithms/03. Sorting and Searching/03. Inversion Count/bin/Debug/netcoreapp2.2
/08. Algorithms/03. Sorting and Searching/04. Words/obj
/08. Algorithms/03. Sorting and Searching/04. Words/bin/Debug/netcoreapp2.2
/08. Algorithms/03. Sorting and Searching/05. Needles/obj
/08. Algorithms/03. Sorting and Searching/05. Needles/bin/Debug/netcoreapp2.2
