################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/08. Algorithms/01. Recursion, Sorting and Searching Algorithms - Lab/01. Recursive Array Sum/bin/Debug/netcoreapp2.2
