@model IEnumerable<ProductListingServiceModel>

@{
    ViewData["Title"] = "_StocksListingPartial";
}

@foreach (var stock in Model.OrderByDescending(x => x.Id))
{
    <div class="col-md-4" id="stock">
        <div class="panel panel-default">
            @{
                if (User.IsInRole("Administrator"))
                {
                    <form method="post" asp-area="Post" asp-controller="Delete" asp-action="Delete" asp-route-id="@stock.Id">
                        <button type="submit" id="deleteButton" class="btn col-lg-1 btn-xs btn-danger glyphicon glyphicon-remove"></button>
                    </form>
                }
            }
            <div class="panel-collapse panel-body">
                @if (stock.Images.Count == 0)
                {
                    <img src="http://placehold.it/500x300" class="img-responsive" />

                }
                else
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(stock.Images.First(i => i.IsProductProfilePicture).ImageBytes)" class="img-responsive" />
                }
            </div>
            <div class="panel-footer">
                <strong>
                    <a asp-area="Post" asp-controller="Details" asp-action="Details" asp-route-id="@stock.Id">@(stock.Title.Length > 10 ? string.Join("", stock.Title.Take(14)) + ".." : stock.Title)</a>
                </strong>
                <p><strong style="font-size: 15px;">@stock.Price</strong> <span style="color: green;">USD</span></p>
            </div>
        </div>
        <br />
    </div>
}