@model PostViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Add Product</h2>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: '#someselector' });</script>

<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="AddAsync" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category">Category:</label><br />
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Categories>()">
                    <option selected="selected" value="">Please select category..</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Upload an avatar using this form:</p>
                <input asp-for="FormUploadedImages" type="file" multiple />
            </div>
            <button type="submit" class="btn btn-default">Publish Article</button>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}