<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <main class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center"><h1 class="display-3">Edit Post</h1></div>
                        <br />
                        <form method="post">
                            <div class="form-group row">
                                <label class="form-control-label">Title</label>
                                <input required name="Title" pattern="[A-Z].{3,100}" class="form-control"
                                       placeholder="Enter Game Title" />
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label">Content</label>
                                <textarea rows="20" required name="Content" class="form-control" placeholder="Enter post content" minlength="20"></textarea>
                            </div>

                            <input type="submit" id="btn-add-post" class="btn btn-outline-warning btn-lg col-6"
                                   value="Edit Post" />
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>