@model BlogArticleDetailsServiceModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"]</h2>

<h2><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h2>

<div>
    @Html.Raw(Model.Content)
</div>